
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table style="border-style:dashed">
        <tr>
            <td>
                Hello world
            </td>
            <td>
                @ViewBag.Desc
            </td>
        </tr>
    </table>
    <div> 
    </div>
</body>
</html>
